<script async src="https://www.googletagmanager.com/gtag/js?id=G-VE0YBR0HPZ"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'analytics_storage': 'denied'
    });

    gtag('config', 'G-VE0YBR0HPZ'); 
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="description"
    content="Schoolmait promotes wellbeing in schools by providing comprehensive student wellbeing assessment solutions.">
<meta name="keywords"
    content="student wellbeing, student mental health, wellbeing assessment, student assessment tool, school interventions, student emotional support">
<meta name="author" content="Schoolmait">
<!-- Removed redundant viewport and X-UA-Compatible meta tags -->
<title>Schoolmait - Student Wellbeing Assessment Tools for Schools</title>
<link rel="icon" href="images/favicon.png" type="image/png"> <!-- Simplified favicon link -->
<meta property="og:title" content="Schoolmait - Promoting Student Wellbeing in Schools">
<meta property="og:description"
    content="Comprehensive wellbeing assessment tools for schools to track and promote student wellbeing.">
<meta property="og:url" content="https://www.schoolmait.com">
<meta name="twitter:card" content="summary">

<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap" rel="stylesheet">

<script type="application/ld+json">
   {
       "@context": "https://schema.org",
       "@type": "Organization",
       "name": "Schoolmait",
       "url": "https://www.schoolmait.com",
       "description": "Schoolmait provides student wellbeing assessment solutions for schools."
   }
   </script>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const navLinks = document.getElementById('nav-links');

    menuToggle.addEventListener('click', () => {
        navLinks.classList.toggle('active'); // Toggle the 'active' class on the nav links list
        menuToggle.classList.toggle('active'); // Optional: Toggle class on button for 'X' state
    });

    document.querySelector('.hero-triangle').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent default anchor behavior
        document.querySelector('#cognito-form').scrollIntoView({
            behavior: 'smooth', // Enables smooth scrolling
            block: 'start' // Scrolls to the top of the target element
        });
    });
</script>
<script src="/js/cookies.js"></script>